.blog {
    padding: 48px 0 56px;
    &__tabs {
        margin-top: 24px;
        display: flex;
        align-items: center;
        overflow-x: auto;
    }
    &__tab {
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: bold;
        font-size: 14px;
        padding: 0 22px;
        height: 48px;
        display: flex;
        align-items: center;
        border-radius: 24px;
        transition: all .3s;
        &:hover {
            background: #EAECF5;
            cursor: pointer;
        }
        &:not(:last-child) {
            margin-right: 8px;
        }
        &--active {
            background: $black;
            color: #fff;
            pointer-events: none;
        }
    }
    &__group {
        margin-top: 40px;
        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__all {
        width: 143px;
        height: 40px;
        border-radius: 40px;
        font-weight: bold;
        font-size: 14px;
    }
    &__items {
        margin-top: 24px;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        display: grid;
    }
    .blog-card {
        height: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .blog {
        padding: 40px 0 48px;
        &__tab {
            padding: 0 20px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .blog {
        padding: 32px 0 40px;
        &__tabs {
            margin-top: 16px;
            font-size: 12px;
        }
        &__tab {
            padding: 0 20px;
            height: 44px;
            &:not(:last-child) {
                margin-right: 0;
            }
        }
        &__group {
            margin-top: 24px;
        }
        &__items {
            grid-template-columns: 1fr 1fr;
        }
        &__item {
            &:nth-child(5),
            &:nth-child(6) {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .blog {
        padding: 24px 0 32px;
        &__tab {
            height: 40px;
            padding: 0 16px;
        }
        &__items {
            grid-template-columns: 1fr;
            margin-top: 16px;
            gap: 16px;
        }
        &__group {
            padding-bottom: 56px;
            position: relative;
        }
        &__all {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
        }
    }
}