.blog {
    padding: 48px 0 56px;
    &__tabs {
        margin-top: 24px;
        display: flex;
        align-items: center;
        overflow-x: auto;
    }
    &__tab {
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: bold;
        font-size: 14px;
        padding: 0 22px;
        height: 48px;
        display: flex;
        align-items: center;
        border-radius: 24px;
        transition: all .3s;
        &:hover {
            background: #EAECF5;
            cursor: pointer;
        }
        &:not(:last-child) {
            margin-right: 8px;
        }
        &--active {
            background: $black;
            color: #fff;
            pointer-events: none;
        }
    }
    &__group {
        margin-top: 40px;
        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__all {
        width: 143px;
        height: 40px;
        border-radius: 40px;
        font-weight: bold;
        font-size: 14px;
    }
    &__items {
        margin-top: 24px;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        display: grid;
    }
    .blog-card {
        height: 100%;
    }
}

.blog-page {
    padding: 32px 0 56px;
    &__title {
        margin-top: 15px;
    }
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 24px;
    }
    &__user,
    &__comments {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 143%;
        img {
            width: 20px;
            height: 20px;
            margin-right: 8px;
            border-radius: 50%;
        }
        svg {
            margin-right: 4px;
        }
        &:hover {
            color: #5E62DA;
            path {
                stroke: #5E62DA;
            }
        }
    }
    &__comments {
        color: #9FADBF;
        i {
            font-style: normal;
        }
    }
    &__img {
        margin-top: 24px;
        img {
            width: 100%;
            border-radius: 16px;
        }
    }
    &__wrap {
        display: flex;
        margin-top: 24px;
    }
    &__right {
        width: 392px;
        flex-shrink: 0;
        margin-left: 24px;
    }
    &__left {
        flex-grow: 1;
    }
    &__text {
        background: #FFFFFF;
        box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.05), 0px 4px 6px -2px rgba(16, 24, 40, 0.025);
        border-radius: 16px;
        padding: 24px 32px;
        &-desc {
            font-size: 16px;
            line-height: 175%;
            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
        &-title {
            font-weight: bold;
            font-size: 22px;
            line-height: 127%;
            margin-bottom: 24px;
        }
        &-video {
            &:not(:last-child) {
                margin-bottom: 24px;
            }
            iframe {
                width: 100%;
                height: 420px;
                border-radius: 8px;
            }
        }
        &-img {
            &:not(:last-child) {
                margin-bottom: 24px;
            }
            img {
                width: 100%;
                border-radius: 16px;
            }
        }
    }
    &__share {
        padding: 24px 32px;
        background: #FFFFFF;
        position: sticky;
        top: 104px;
        box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.05), 0px 4px 6px -2px rgba(16, 24, 40, 0.025);
        border-radius: 16px;
        &-title {
            font-weight: 800;
            font-size: 28px;
            line-height: 130%;
        }
        &-items {
            display: flex;
            align-items: center;
            margin-top: 16px;
        }
        &-item {
            width: 56px;
            height: 56px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #E8E8E8;
            &:not(:last-child) {
                margin-right: 32px;
            }
            &:hover {
                border-color: #1B2C3E;
            }
            &:active {
                background: #1B2C3E;
                path {
                    fill: #fff;
                }
            }
        }
    }
    .blog-card {
        height: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .blog {
        padding: 40px 0 48px;
        &__tab {
            padding: 0 20px;
        }
    }
    .blog-page {
        padding-bottom: 48px;
        &__wrap {
            display: block;
        }
        &__right {
            width: 100%;
            margin-left: 0;
            margin-top: 24px;
        }
        &__text {
            &-video {
                iframe {
                    height: 492px;
                    @media screen and (max-width: 850px) {
                        height: 300px;
                    }
                    @media screen and (max-width: 450px) {
                        height: 220px;
                    }
                    @media screen and (max-width: 400px) {
                        height: 165px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .blog {
        padding: 32px 0 40px;
        &__tabs {
            margin-top: 16px;
            font-size: 12px;
        }
        &__tab {
            padding: 0 20px;
            height: 44px;
            &:not(:last-child) {
                margin-right: 0;
            }
        }
        &__group {
            margin-top: 24px;
        }
        &__items {
            grid-template-columns: 1fr 1fr;
        }
        &__item {
            &:nth-child(5),
            &:nth-child(6) {
                display: none;
            }
        }
    }
    .blog-page {
        padding-bottom: 40px;
        &__title,
        &__nav,
        &__img {
            margin-top: 16px;
        }
        &__img {
            width: calc(100% + 30px);
            margin-left: -15px;
            img {
                border-radius: 0;
            }
        }
        &__wrap {
            width: calc(100% + 30px);
            margin-left: -15px;
            margin-top: 0;
        }
        &__text {
            border-radius: 0px 0px 16px 16px;
            padding: 24px;
            &-desc,
            &-video,
            &-img,
            &-title {
                &:not(:last-child) {
                    margin-bottom: 16px;
                }
            }
        }
        &__right {
            margin-top: 16px;
        }
        .blog__item {
            &:nth-child(3) {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .blog {
        padding: 24px 0 32px;
        &__tab {
            height: 40px;
            padding: 0 16px;
        }
        &__items {
            grid-template-columns: 1fr;
            margin-top: 16px;
            gap: 16px;
        }
        &__group {
            padding-bottom: 56px;
            position: relative;
        }
        &__all {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
        }
    }
    .blog-page {
        padding: 24px 0 32px;
        &__comments {
            i {
                display: none;
            }
        }
        &__text,
        &__share {
            padding: 16px 15px;
        }
        &__share {
            &-title {
                font-size: 22px;
            }
            &-item {
                width: 48px;
                height: 48px;
                &:not(:last-child) {
                    margin-right: 24px;
                }
            }
        }
        .blog__group {
            padding-bottom: 0;
        }
    }
}