.course-card,
.course-card2 {
    background: #FFFFFF;
    overflow: hidden;
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.05), 0px 8px 8px -4px rgba(16, 24, 40, 0.02);
    border-radius: 24px;
    overflow: hidden;
    &__img {
        height: 220px;
        overflow: hidden;
        img {
            width: 100%;
            display: block;
        }
    }
    &__content {
        padding: 16px 24px 20px;
    }
    &__student {
        font-size: 14px;
        line-height: 143%;
        color: #74869C;
    }
    &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 143%;
        margin-top: 4px;
    }
    &__desc {
        font-size: 16px;
        line-height: 150%;
        color: #59697C;
        margin-top: 4px;
    }
}

.course-card2 {
    border-radius: 16px;
    &__img {
        height: unset;
    }
    &__title {
        font-size: 16px;
        line-height: 150%;
        margin-top: 0;
    }
    &__content {
        padding-bottom: 16px;
    }
    &__info {
        margin-top: 4px;
        display: flex;
        align-items: center;
    }
    &__student {
        font-weight: 600;
    }
    &__duration {
        margin-left: 8px;
        font-size: 14px;
        color: #74869C;
        padding-left: 11px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            width: 3px;
            height: 3px;
            background: #59697C;
            opacity: 0.32;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }
    &__teacher {
        font-size: 14px;
        line-height: 20px;
        color: #74869C;
        margin-top: 4px;
    }
}

.tarif-card {
    background: #FFFFFF;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.05), 0px 4px 6px -2px rgba(16, 24, 40, 0.025);
    border-radius: 16px;
    padding: 24px 24px 32px;
    &__title {
        font-weight: 800;
        font-size: 28px;
        line-height: 129%;
        text-align: center;
    }
    &__desc {
        font-size: 18px;
        line-height: 144%;
        color: #74869C;
        text-align: center;
    }
    &__prices {
        margin-top: 24px;
        border-radius: 16px;
        padding: 16px;
        text-align: center;
        &-new {
            font-weight: bold;
            font-size: 22px;
            line-height: 127%;
        }
        &-old {
            font-size: 18px;
            line-height: 144%;
            text-decoration-line: line-through;
            color: #74869C;
        }
    }
    &__item {
        margin-top: 24px;
        font-weight: 600;
        font-size: 14px;
        line-height: 143%;
        display: flex;
        i {
            margin-top: 4px;
            background: #ECF2FA;
            margin-right: 12px;
            flex-shrink: 0;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 8L6.33427 11.5L13 4.5' stroke='%2359697C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
        }
        &:nth-child(1n+5) {
            i {
                background-color: #F0F8ED;
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 8L6.33427 11.5L13 4.5' stroke='%2394C97E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            }
        }
        &:nth-child(1n+7) {
            i {
                background-color: #ECF2FA;
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 8L6.33427 11.5L13 4.5' stroke='%235E62DA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            }
        }
    }
    &__btn {
        margin-top: 24px;
        height: 56px;
        width: 100%;
        border-radius: 40px;
        font-weight: 800;
        font-size: 16px;
    }
    &__open {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .course-card {
        &__img {
            height: 180px;
        }
    }
    .tarif-card {
        &__items {
            display: none;
        }
        &__btn {
            height: 48px;
        }
        &--show {
            .tarif-card__open {
                svg {
                    transform: rotate(180deg);
                }
                &-hidden {
                    display: unset;
                }
                &-show {
                    display: none;
                }
            }
            .tarif-card__items {
                display: block;
            }
        }
        &__open {
            display: flex;
            width: 100%;
            margin-top: 24px;
            font-weight: 600;
            font-size: 14px;
            color: #9FADBF;
            svg {
                margin-right: 12px;
            }
            &-hidden {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .course-card {
        &__img {
            height: unset;
        }
        &__content {
            padding: 16px 12px 16px;
        }
        &__title {
            font-size: 16px;
            margin-top: 2px;
        }
        &__desc {
            font-size: 14px;
            margin-top: 2px;
        }
    }
    .course-card2 {
        &__teacher {
            margin-top: 1px;
        }
    }
    .tarif-card {
        padding: 16px;
        &__title {
            font-size: 22px;
        }
        &__btn {
            font-size: 14px;
        }
    }
}