.display-1 {
  font-weight: 800;
  font-size: 56px;
  line-height: 125%; }
  @media screen and (max-width: 1270px) {
    .display-1 {
      font-size: 48px; } }
  @media screen and (max-width: 1024px) {
    .display-1 {
      font-size: 36px; } }
  @media screen and (max-width: 576px) {
    .display-1 {
      font-size: 32px; } }

.display-2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 125%; }
  @media screen and (max-width: 1270px) {
    .display-2 {
      font-size: 40px; } }
  @media screen and (max-width: 1024px) {
    .display-2 {
      font-size: 32px; } }
  @media screen and (max-width: 576px) {
    .display-2 {
      font-size: 24px; } }

.display-3 {
  font-weight: 800;
  font-size: 32px;
  line-height: 125%; }
  @media screen and (max-width: 1024px) {
    .display-3 {
      font-size: 28px; } }
  @media screen and (max-width: 576px) {
    .display-3 {
      font-size: 22px; } }

.display-4 {
  font-weight: 800;
  font-size: 28px;
  line-height: 129%; }
  @media screen and (max-width: 576px) {
    .display-4 {
      font-size: 22px; } }

.card-bg {
  padding: 24px;
  background: #FFFFFF;
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.05), 0px 8px 8px -4px rgba(16, 24, 40, 0.02);
  border-radius: 16px; }
  @media screen and (max-width: 576px) {
    .card-bg {
      padding: 16px; } }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 56px;
  border-radius: 40px;
  font-size: 16px; }
  @media screen and (max-width: 1024px) {
    .btn {
      height: 48px; } }
  @media screen and (max-width: 576px) {
    .btn {
      height: 40px;
      font-size: 14px; } }
  .btn svg {
    margin: 0 !important; }
  .btn span {
    margin: 0 10px; }
  .btn:disabled {
    opacity: 0.48;
    pointer-events: none; }

.btn-light-blue {
  background: #F2F9FF;
  color: #1B2C3E;
  font-weight: 700; }
  .btn-light-blue:hover {
    background: #E2EDFC;
    color: #1B2C3E; }
  .btn-light-blue:active {
    background: #ECF2FA;
    color: #1B2C3E; }

.btn-light-red {
  background: #FCEEEE;
  color: #E15A5A;
  font-weight: 700; }
  .btn-light-red:hover {
    background-color: #F6CBCB;
    color: #DC4141; }
  .btn-light-red:active {
    background-color: #F6CBCB;
    color: #CF2626;
    box-shadow: inset 0px 6px 12px -12px rgba(207, 38, 38, 0.32);
    color: #1B2C3E; }

.btn-blue {
  font-weight: 800;
  color: #fff;
  background: linear-gradient(68.42deg, #5E61DA 14.17%, #8C52D6 85.83%);
  box-shadow: 0px 8px 32px rgba(94, 97, 218, 0.4); }
  .btn-blue:hover {
    color: #fff;
    box-shadow: 0px 8px 32px rgba(94, 97, 218, 0.56);
    background: linear-gradient(68.42deg, #5E61DA 14.17%, #8C52D6 85.83%); }
  .btn-blue:active {
    color: #fff;
    box-shadow: inset 0px 8px 16px -12px rgba(46, 54, 186, 0.46);
    background: linear-gradient(68.42deg, #5E61DA 14.17%, #8C52D6 85.83%); }

.btn-outline {
  border: 2px solid #EAECF5;
  color: #1B2C3E;
  font-weight: 700; }
  .btn-outline:hover {
    color: #1B2C3E;
    border-color: #1B2C3E; }
  .btn-outline:active {
    color: #fff;
    border-color: #1B2C3E;
    background-color: #1B2C3E; }

.noshadow {
  box-shadow: none !important; }

.checkbox {
  position: relative; }
  .checkbox:not(:first-child) {
    margin-top: 14px; }
  .checkbox input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0; }
    .checkbox input:checked + label:before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 8L6.33427 11.5L13 4.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-color: #5E62DA;
      border-color: #5E62DA;
      background-repeat: no-repeat;
      background-position: center; }
    .checkbox input:checked + label:hover:before {
      background-color: #7481E0;
      border-color: #7481E0; }
    .checkbox input:disabled + label {
      opacity: 0.34; }
  .checkbox label {
    font-size: 14px;
    line-height: 143%;
    font-weight: 400;
    margin: 0;
    padding-left: 36px;
    position: relative;
    width: 100%;
    display: block;
    min-height: 24px;
    cursor: pointer; }
    .checkbox label:hover:before {
      border-color: #8B9EE6; }
    .checkbox label:before {
      content: '';
      position: absolute;
      z-index: 1;
      width: 24px;
      height: 24px;
      border: 2px solid #C5D6F1;
      box-sizing: border-box;
      border-radius: 8px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: all .3s; }

.radio {
  position: relative; }
  .radio input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0; }
    .radio input:checked + label:before {
      background-color: #5E62DA;
      border-color: #5E62DA; }
    .radio input:checked + label:after {
      opacity: 1; }
  .radio label {
    font-size: 14px;
    line-height: 143%;
    font-weight: 400;
    margin: 0;
    padding-left: 36px;
    position: relative;
    cursor: pointer; }
    .radio label:hover::before {
      border-color: #5E62DA; }
    .radio label:before, .radio label:after {
      content: '';
      position: absolute;
      z-index: 1;
      width: 24px;
      height: 24px;
      border: 2px solid #C5D6F1;
      box-sizing: border-box;
      border-radius: 50%;
      left: 0;
      top: 0;
      transition: all .3s; }
    .radio label:after {
      z-index: 2;
      width: 20px;
      height: 20px;
      border-color: #fff;
      top: 2px;
      left: 2px;
      opacity: 0; }

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .breadcrumbs__item {
    color: #5E62DA;
    font-size: 14px;
    line-height: 143%;
    margin-bottom: 8px; }
    .breadcrumbs__item:after {
      content: '/';
      z-index: 1;
      color: #1B2C3E;
      margin: 0 8px; }

.switch {
  position: relative; }
  .switch input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0; }
    .switch input:checked + label:hover::before {
      background: linear-gradient(68.42deg, #5E61DA 14.17%, #8C52D6 85.83%); }
    .switch input:checked + label:hover::after {
      background: #FFFFFF; }
    .switch input:checked + label::before {
      background: #5E62DA; }
    .switch input:checked + label::after {
      background: #FFFFFF;
      left: 27px; }
  .switch label {
    padding-left: 64px;
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
    display: flex;
    align-items: center; }
    .switch label:hover:after {
      background: #7481E0; }
    .switch label:before {
      content: '';
      position: absolute;
      z-index: 1;
      background: #C5D6F1;
      border-radius: 24px;
      width: 48px;
      height: 24px;
      top: 0;
      left: 0;
      transition: all .3s; }
    .switch label:after {
      content: '';
      position: absolute;
      z-index: 2;
      background: #8B9EE6;
      left: 3px;
      top: 3px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      transition: all .3s; }

textarea {
  background: #EAECF5;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 11px 16px;
  resize: vertical;
  min-height: 120px; }
  textarea::placeholder {
    color: #74869C; }
  textarea:hover {
    background: #FFFFFF;
    border: 2px solid #8B9EE6; }
  textarea:focus, textarea:active {
    background: #FFFFFF;
    border: 2px solid #8B9EE6; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }
  select::-ms-expand {
    display: none; }

.custom-select {
  position: relative; }
  .custom-select input {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6663 5.66602L7.99967 10.3327L3.33301 5.66602' stroke='%231B2C3E' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    cursor: pointer;
    transition: all 100ms; }
  .custom-select--active input {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33317 10.3335L7.99984 5.66683L12.6665 10.3335' stroke='%231B2C3E' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    border-radius: 8px 8px 0 0 !important;
    border: 2px solid #8B9EE6 !important;
    background-color: transparent !important; }
  .custom-select--active .custom-select__dropdown {
    display: block; }
  .custom-select__dropdown {
    width: 100%;
    position: absolute;
    top: 100%;
    border-radius: 0 0 8px 8px;
    border: 2px solid #8B9EE6;
    border-top: none;
    background-color: #fff;
    overflow: hidden;
    display: none;
    z-index: 5; }
    .custom-select__dropdown-inner {
      max-height: 300px;
      overflow-y: auto; }
      .custom-select__dropdown-inner::-webkit-scrollbar {
        width: 3px;
        height: 3px; }
      .custom-select__dropdown-inner::-webkit-scrollbar-track {
        background: #fff; }
      .custom-select__dropdown-inner::-webkit-scrollbar-thumb {
        background: #5E62DA; }
    .custom-select__dropdown-item {
      padding: 11px 40px 11px 16px;
      display: flex;
      align-items: center;
      min-height: 40px;
      font-size: 14px;
      line-height: 18px;
      color: #1B2C3E;
      transition: all .3s; }
      .custom-select__dropdown-item:hover {
        cursor: pointer;
        background: #5E62DA;
        color: #fff; }
      .custom-select__dropdown-item--selected {
        pointer-events: none;
        color: #5E62DA;
        font-weight: 600;
        background-image: url(../img/Check-blue.svg);
        background-repeat: no-repeat;
        background-position: right 13px center; }

.form-group label {
  font-weight: normal;
  font-size: 12px;
  line-height: 133%;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
.form-group input,
.form-group textarea,
.form-group select {
  background-color: #EAECF5;
  border-radius: 8px;
  width: 100%;
  height: 40px;
  padding: 0 16px;
  font-weight: 300;
  font-size: 14px;
  border: 2px solid transparent;
  width: 100%;
  transition: all .3s; }
  .form-group input::placeholder,
  .form-group textarea::placeholder,
  .form-group select::placeholder {
    color: #74869C; }
  .form-group input.input-error,
  .form-group textarea.input-error,
  .form-group select.input-error {
    border: 2px solid #EC9898;
    background-color: #FFFFFF; }
  .form-group input:hover,
  .form-group textarea:hover,
  .form-group select:hover {
    background-color: #FFFFFF;
    border: 2px solid #8B9EE6; }
  .form-group input:focus, .form-group input:active,
  .form-group textarea:focus,
  .form-group textarea:active,
  .form-group select:focus,
  .form-group select:active {
    background-color: #FFFFFF;
    border: 2px solid #8B9EE6; }
.form-group textarea {
  height: unset;
  resize: vertical;
  padding: 11px 16px; }
.form-group select {
  outline: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6663 5.66602L7.99967 10.3327L3.33301 5.66602' stroke='%231B2C3E' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  color: #74869C; }
  .form-group select:focus, .form-group select:active, .form-group select:hover {
    color: #1B2C3E; }

.input-error-text {
  font-size: 12px;
  line-height: 133%;
  margin-top: 4px;
  color: #CF2626; }

.green-text {
  color: #94C97E !important; }

.yellow-text {
  color: #D6921F !important; }

.grey-text {
  color: #74869C !important; }

.course-card,
.course-card2,
.course-card3 {
  background: #FFFFFF;
  overflow: hidden;
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.05), 0px 8px 8px -4px rgba(16, 24, 40, 0.02);
  border-radius: 24px;
  overflow: hidden;
  display: block; }
  .course-card__img,
  .course-card2__img,
  .course-card3__img {
    height: 220px;
    overflow: hidden; }
    .course-card__img img,
    .course-card2__img img,
    .course-card3__img img {
      width: 100%;
      display: block; }
  .course-card__content,
  .course-card2__content,
  .course-card3__content {
    padding: 16px 24px 20px; }
  .course-card__student,
  .course-card2__student,
  .course-card3__student {
    font-size: 14px;
    line-height: 143%;
    color: #74869C; }
  .course-card__title,
  .course-card2__title,
  .course-card3__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 143%;
    margin-top: 4px; }
  .course-card__desc,
  .course-card2__desc,
  .course-card3__desc {
    font-size: 16px;
    line-height: 150%;
    color: #59697C;
    margin-top: 4px; }

.course-card2 {
  border-radius: 16px; }
  .course-card2__img {
    height: unset; }
  .course-card2__title {
    font-size: 16px;
    line-height: 150%;
    margin-top: 0; }
  .course-card2__content {
    padding-bottom: 16px; }
  .course-card2__info {
    margin-top: 4px;
    display: flex;
    align-items: center; }
  .course-card2__student {
    font-weight: 600; }
  .course-card2__duration {
    margin-left: 8px;
    font-size: 14px;
    color: #74869C;
    padding-left: 11px;
    position: relative; }
    .course-card2__duration:before {
      content: '';
      position: absolute;
      z-index: 1;
      width: 3px;
      height: 3px;
      background: #59697C;
      opacity: 0.32;
      top: 50%;
      transform: translateY(-50%);
      left: 0; }
  .course-card2__teacher {
    font-size: 14px;
    line-height: 20px;
    color: #74869C;
    margin-top: 4px; }

.course-card3 {
  border-radius: 16px;
  height: 100%; }
  .course-card3__img {
    height: unset; }
  .course-card3__title {
    margin-top: 0; }
    .course-card3__title:hover {
      color: #6366D9;
      cursor: pointer; }
  .course-card3__content {
    padding-bottom: 16px; }
  .course-card3__bottom {
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .course-card3__num {
    background: #5E62DA;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-weight: 800;
    font-size: 13px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center; }
  .course-card3__students {
    display: flex;
    align-items: center; }
    .course-card3__students-status, .course-card3__students-title, .course-card3__students-new, .course-card3__students-date, .course-card3__students-name {
      font-size: 14px;
      line-height: 143%; }
    .course-card3__students-title, .course-card3__students-name {
      color: #74869C;
      padding-right: 11px;
      position: relative; }
      .course-card3__students-title:before, .course-card3__students-name:before {
        content: '';
        position: absolute;
        z-index: 1;
        background: #59697C;
        opacity: 0.32;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        right: 0;
        top: 50%;
        transform: translateY(-50%); }
      .course-card3__students-title--finish, .course-card3__students-name--finish {
        color: #94C97E; }
    .course-card3__students-name:hover {
      color: #6366D9;
      cursor: pointer; }
    .course-card3__students-name:before {
      display: none; }
    .course-card3__students-new {
      margin-left: 8px;
      color: #94C97E; }
    .course-card3__students-date {
      color: #74869C;
      margin-left: 8px; }
    .course-card3__students-status {
      color: #5E62DA; }
  .course-card3__bookmark:hover {
    cursor: pointer; }
    .course-card3__bookmark:hover path {
      stroke: #5E62DA; }
  .course-card3__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px; }
  .course-card3__buy, .course-card3__progress {
    font-size: 12px;
    line-height: 133%;
    color: #74869C; }
  .course-card3__user {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 143%;
    margin-top: 8px; }
    .course-card3__user img {
      width: 20px;
      height: 20px;
      margin-right: 8px;
      border-radius: 50%;
      flex-shrink: 0; }
    .course-card3__user:hover {
      color: #6366D9;
      cursor: pointer; }
  .course-card3__status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    line-height: 143%;
    color: #74869C;
    margin-top: 8px; }

.tarif-card {
  background: #FFFFFF;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.05), 0px 4px 6px -2px rgba(16, 24, 40, 0.025);
  border-radius: 16px;
  padding: 24px 24px 32px; }
  .tarif-card__title {
    font-weight: 800;
    font-size: 28px;
    line-height: 129%;
    text-align: center; }
  .tarif-card__desc {
    font-size: 18px;
    line-height: 144%;
    color: #74869C;
    text-align: center; }
  .tarif-card__prices {
    margin-top: 24px;
    border-radius: 16px;
    padding: 16px;
    text-align: center;
    background: #F8F9FC; }
    .tarif-card__prices--green {
      background: linear-gradient(93.49deg, #F4F8FD 0%, #F4FAF2 100%); }
    .tarif-card__prices--blue {
      background: linear-gradient(93.49deg, #F4F8FD 0%, #D8E7FF 100%); }
    .tarif-card__prices-new {
      font-weight: bold;
      font-size: 22px;
      line-height: 127%; }
    .tarif-card__prices-old {
      font-size: 18px;
      line-height: 144%;
      text-decoration-line: line-through;
      color: #74869C; }
  .tarif-card__item {
    margin-top: 24px;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    display: flex; }
    .tarif-card__item i {
      margin-top: 4px;
      background: #ECF2FA;
      margin-right: 12px;
      flex-shrink: 0;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 8L6.33427 11.5L13 4.5' stroke='%2359697C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center; }
    .tarif-card__item:nth-child(1n+5) i {
      background-color: #F0F8ED;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 8L6.33427 11.5L13 4.5' stroke='%2394C97E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"); }
    .tarif-card__item:nth-child(1n+7) i {
      background-color: #ECF2FA;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 8L6.33427 11.5L13 4.5' stroke='%235E62DA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"); }
  .tarif-card__btn {
    margin-top: 24px;
    height: 56px;
    width: 100%;
    border-radius: 40px;
    font-weight: 800;
    font-size: 16px; }
  .tarif-card__open {
    display: none; }

.event-card {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.05), 0px 4px 6px -2px rgba(16, 24, 40, 0.025);
  border-radius: 16px;
  height: 304px; }
  .event-card__left {
    width: 112px;
    padding: 16px 16px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0; }
  .event-card__day {
    font-weight: 800;
    font-size: 40px;
    line-height: 125%; }
  .event-card__month, .event-card__year {
    font-size: 18px;
    line-height: 144%; }
  .event-card__year {
    margin-top: 3px;
    color: #C6D0DD; }
  .event-card__time {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    margin-top: auto; }
  .event-card__img {
    width: 304px;
    height: 100%;
    overflow: hidden;
    flex-shrink: 0; }
    .event-card__img img {
      display: block;
      width: 100%; }
  .event-card__right {
    display: flex;
    flex-direction: column;
    padding: 32px 48px; }
  .event-card__title {
    flex-shrink: 0;
    font-weight: bold;
    font-size: 28px;
    line-height: 130%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: all .3s; }
    .event-card__title:hover {
      color: #6366D9;
      cursor: pointer; }
  .event-card__desc {
    font-size: 18px;
    line-height: 156%;
    margin-top: 16px;
    color: #59697C;
    overflow: hidden;
    flex-grow: 1; }

.blog-card {
  background: #FFFFFF;
  overflow: hidden;
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.05), 0px 8px 8px -4px rgba(16, 24, 40, 0.02);
  border-radius: 16px;
  display: flex;
  flex-direction: column; }
  .blog-card__img {
    display: block; }
    .blog-card__img img {
      width: 100%; }
  .blog-card__content {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; }
  .blog-card__category {
    font-size: 12px;
    line-height: 133%;
    color: #74869C;
    display: block; }
    .blog-card__category:hover {
      color: #5E61DA; }
  .blog-card__title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    margin-top: 4px;
    display: block; }
    .blog-card__title:hover {
      color: #5E62DA; }
  .blog-card__desc {
    font-size: 14px;
    line-height: 143%;
    color: #59697C;
    margin: 8px 0 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; }
  .blog-card__bottom {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .blog-card__name, .blog-card__comments {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 143%; }
    .blog-card__name img, .blog-card__comments img {
      width: 20px;
      height: 20px;
      margin-right: 8px;
      border-radius: 50%; }
    .blog-card__name svg, .blog-card__comments svg {
      margin-right: 4px; }
    .blog-card__name:hover, .blog-card__comments:hover {
      color: #5E62DA; }
      .blog-card__name:hover path, .blog-card__comments:hover path {
        stroke: #5E62DA; }
  .blog-card__comments {
    color: #9FADBF; }

.event-card2 {
  border-radius: 16px;
  background: #FFFFFF;
  overflow: hidden;
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.05), 0px 8px 8px -4px rgba(16, 24, 40, 0.02);
  overflow: hidden; }
  .event-card2__img {
    overflow: hidden; }
    .event-card2__img img {
      width: 100%;
      display: block; }
  .event-card2__content {
    padding: 16px 24px; }
  .event-card2__student {
    font-size: 14px;
    line-height: 143%;
    color: #74869C; }
  .event-card2__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 143%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 4px; }
    .event-card2__title:hover {
      color: #6366D9;
      cursor: pointer; }
  .event-card2__bottom {
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .event-card2__students {
    display: flex;
    align-items: center; }
    .event-card2__students-status, .event-card2__students-title, .event-card2__students-new {
      font-size: 14px;
      line-height: 143%; }
    .event-card2__students-title {
      color: #74869C;
      padding-right: 11px;
      position: relative; }
      .event-card2__students-title:before {
        content: '';
        position: absolute;
        z-index: 1;
        background: #59697C;
        opacity: 0.32;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        right: 0;
        top: 50%;
        transform: translateY(-50%); }
    .event-card2__students-new {
      margin-left: 8px;
      color: #94C97E; }
    .event-card2__students-status {
      color: #5E62DA; }
  .event-card2__time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 143%;
    color: #74869C; }
  .event-card2__user {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 143%;
    margin-top: 8px; }
    .event-card2__user img {
      width: 20px;
      height: 20px;
      margin-right: 8px;
      border-radius: 50%;
      flex-shrink: 0; }
  .event-card2__status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    line-height: 143%;
    color: #74869C;
    margin-top: 8px; }

@media screen and (max-width: 1200px) {
  .event-card__right {
    padding: 24px 32px; } }
@media screen and (max-width: 1024px) {
  .course-card__img {
    height: 180px; }

  .tarif-card__items {
    display: none; }
  .tarif-card__btn {
    height: 48px; }
  .tarif-card--show .tarif-card__open svg {
    transform: rotate(180deg); }
  .tarif-card--show .tarif-card__open-hidden {
    display: unset; }
  .tarif-card--show .tarif-card__open-show {
    display: none; }
  .tarif-card--show .tarif-card__items {
    display: block; }
  .tarif-card__open {
    display: flex;
    width: 100%;
    margin-top: 24px;
    font-weight: 600;
    font-size: 14px;
    color: #9FADBF; }
    .tarif-card__open svg {
      margin-right: 12px; }
    .tarif-card__open-hidden {
      display: none; }

  .event-card {
    height: 185px; }
    .event-card__left {
      width: 95px;
      padding: 20px 12px 16px; }
    .event-card__img {
      width: 185px; }
    .event-card__day {
      font-size: 32px; }
    .event-card__month, .event-card__year {
      font-size: 16px;
      margin: 0; }
    .event-card__time {
      font-size: 14px; }
    .event-card__right {
      padding: 12px 16px; }
    .event-card__title {
      font-size: 16px;
      -webkit-line-clamp: 3; }
    .event-card__desc {
      margin-top: 8px;
      font-size: 14px; }

  .course-card3__title {
    font-size: 16px; } }
@media screen and (max-width: 576px) {
  .course-card__img {
    height: unset; }
  .course-card__content {
    padding: 16px 12px 16px; }
  .course-card__title {
    font-size: 16px;
    margin-top: 2px; }
  .course-card__desc {
    font-size: 14px;
    margin-top: 2px; }

  .course-card2__teacher {
    margin-top: 1px; }

  .tarif-card {
    padding: 16px; }
    .tarif-card__title {
      font-size: 22px; }
    .tarif-card__btn {
      font-size: 14px; }

  .event-card {
    flex-wrap: wrap;
    height: unset;
    overflow: hidden; }
    .event-card__img {
      order: -1;
      width: 216px;
      height: 216px; }
    .event-card__left {
      padding-top: 16px;
      width: calc(100% - 216px); }
    .event-card__right {
      width: 100%; }
    .event-card__title {
      font-size: 14px; }
    .event-card__desc {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical; }

  .course-card3__title {
    display: -webkit-box;
    white-space: unset;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }
  .course-card3__content {
    padding: 12px 16px; }

  .blog-card__content {
    padding: 12px 16px; } }
.swiper-button-next,
.swiper-button-prev {
  z-index: 9; }

.pagination-progress {
  position: relative;
  width: 100%;
  height: 100%; }
  .pagination-progress svg {
    width: 100%;
    height: 100%; }
  .pagination-progress__black {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    transform: rotate(-90deg); }

circle[stroke-dasharray='0 100'] {
  opacity: 0; }

/*# sourceMappingURL=ux.css.map */
