@import 'variables';
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.btn-light-blue {
    background: #F2F9FF;
    color: $black;
    &:hover {
        background: #E2EDFC;
        color: $black;
    }
    &:active {
        background: #ECF2FA;
        color: $black;
    }
}

.btn-blue {
    color: #fff;
    background: linear-gradient(68.42deg, #5E61DA 14.17%, #8C52D6 85.83%);
    box-shadow: 0px 8px 32px rgba(94, 97, 218, 0.4);
    &:hover {
        color: #fff;
        box-shadow: 0px 8px 32px rgba(94, 97, 218, 0.56);
        background: linear-gradient(68.42deg, #5E61DA 14.17%, #8C52D6 85.83%);
    }
    &:active {
        color: #fff;
        box-shadow: inset 0px 8px 16px -12px rgba(46, 54, 186, 0.46);
        background: linear-gradient(68.42deg, #5E61DA 14.17%, #8C52D6 85.83%);
    }
}

.btn-outline {
    border: 2px solid #EAECF5;
    color: $black;
    &:hover {
        color: $black;
        border-color: $black;
    }
    &:active {
        color: #fff;
        border-color: $black;
        background-color: $black;
    }
}